@media (min-width: 1025px) {    
     .container {    width: 1000px;
      margin: 10px auto;
      height: 100%;
        
    }

.nav-menu {width: 65%;
margin: 1% 0% 2% 35%;
}
.nav-menu-link {    padding: 1vmin;
     
}
.main {width: 100%;
}

    
}