@media (min-width:800px) and (max-width: 1024px) {    
      .container {    width: 780px;
      margin: 10px auto;
        
    }

.nav-menu {width: 70%;
margin: 1.5% 0% 2% 30%;
}
.nav-menu-link {    padding:0.5vmin ;
     
}
.main {width: 80%;
      margin-left: 10%;
}
}

