@media (min-width:480px) and (max-width: 800px) {
    .container {
        width: 480px;

    }

    .header__img_animation {
        width: 40vmin;
    }
    .nav-menu {
        margin: 10% 60% 5% 2%;
        width: 40%;
    }
    .main {
        width: 100%;

    }
}